name: ci 
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: cv.tex
          working_directory: ./docs/assets/cv
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - run: UV_HTTP_TIMEOUT=300 uv sync && uv run mkdocs build && echo xiaofan.ac.cn > site/CNAME
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
