name: ci 
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: ./docs/assets/cv/cv.tex
      - name: Upload PDF file
        uses: actions/upload-artifact@v5
        with:
          name: PDF
          path: ./docs/assets/cv/cv.tex
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: ~/.cache 
          restore-keys: |
            mkdocs-material-
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - run: UV_HTTP_TIMEOUT=300 uv sync
      - run: uv run mkdocs gh-deploy --force
